apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: limguard
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: limguard
    app.kubernetes.io/part-of: limguard
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: limguard
      app.kubernetes.io/part-of: limguard
  template:
    metadata:
      labels:
        app.kubernetes.io/name: limguard
        app.kubernetes.io/part-of: limguard
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      serviceAccountName: limguard
      tolerations:
        - operator: Exists
      priorityClassName: system-node-critical
      containers:
        - name: limguard
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
          args:
            - "--debug={{ .Values.debug | default false }}"
            - "--node-ip-cidr={{ .Values.nodeCIDR | default "10.200.0.0/24" }}"
            - "--lease-namespace={{ .Values.leaseNamespace }}"
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: privatekey-dir
              mountPath: /etc/limguard
            - name: lib-modules
              mountPath: /lib/modules
              readOnly: true
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: privatekey-dir
          hostPath:
            path: /etc/limguard
            type: DirectoryOrCreate
        - name: lib-modules
          hostPath:
            path: /lib/modules
            type: Directory
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: limguard
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: limguard
    app.kubernetes.io/part-of: limguard
{{- if .Values.image.pullSecrets }}
imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | nindent 4 }}
{{- end }}
---